xxxbody {
    background: #093028;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #237A57, #093028);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #73CAA7, #598078); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.address {
    font-size: .8rem;
}

@media only screen and (min-width: 768px) {
    .address {
        font-size: 1rem;
    }
    
}

@media print {
    .address {
        font-size: 1rem;
    }
    
}